---
layout: default.ejs
title: Home
---

<link rel="stylesheet" href="/scss/index.scss" />

<div class="row">
    <div id="welcome">
        <svg viewBox="0 0 600 400">
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="50%" dy=".35em">Welcome</text>
            </symbol>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
            <use class="text" xlink:href="#s-text"></use>
        </svg>
    </div>
</div>
<div class="row">
    <div class="app-loading">
        <svg viewBox="0 0 1320 300">
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                Outside UI
            </text>
        </svg>
    </div>
</div>
